#chat-container{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    border: 1px solid var(--color-grey-6);
    border-radius: 20px 0px 0px 0px;
    height: 100%;
}
#chat-nav{
    border-radius: 20px 0px 0px 0px;
    background-color: #202540;
    display: flex;
    flex-direction: column;
}
#chat-nav .icon{
    margin: 10px;
    cursor: pointer;
}
#chat-nav .icon-bottom{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex: 1;
}
#chat-nav #message-icon{
    color : var(--color-white);
    width: 50px;
    height: 50px;
    margin : auto;
    cursor: pointer;
}
#chat-nav #participant-icon{
    color : var(--color-white);
    width: 50px;
    height: 50px;
    margin : auto;
    cursor: pointer;
}
#chat-nav .messenger{
    position: relative;
}
#chat-nav .active{
    border : 1px solid var(--color-white);
    border-radius: 50px;
    vertical-align: -webkit-baseline-middle;
}
#chat-nav .bell{
    color: var(--color-mainYellow);
    font-size: 14px;
    position: absolute;
    right: 10px;
}
#chat-nav #live-container{
    width : 80%;
    margin : 10px auto 20px;
}
#chat-nav #live-circle{
    height: 6px;
    width: 6px;
    background-color: var(--color-green-live);
    border-radius: 3px;
    vertical-align: middle;
    display: inline-block;
}
#chat-nav #participant-counter{
    font-size : var(--font-size-14);
    font-family: 'AppleSDGothicNeoB';
    font-weight: var(--weight-regular);
    color : var(--color-green-live);
    display: inline-block;
    vertical-align: middle;
    margin: 0px 0px 0px 5px;
}
#chat-main{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    background-color: rgb(40 45 78 / 70%);
}
#chat-main #chat-title{
    width: 100%;
    border-bottom: 1px solid var(--color-grey-6);
    text-align: left;
    flex-grow: 0.5;
    flex-basis: 0;
}
#chat-main #chat-title p{
    font-size : var(--font-size-30);
    font-family: 'AppleSDGothicNeoEB';
    font-weight: var(--weight-regular);
    color : var(--color-white);
    margin : 25px 0px 0px 0px;
    padding-left: 20px;
    opacity: 1;
}
#receive-container{
    overflow-y: auto;
    width: 100%;
    height: 90%;
    flex-grow: 9;
    flex-basis: 0;
}
#receive-container .message{
    width : 100%;
    opacity: 1;
}
#receive-container .message-table{
    color: var(--color-white);
    text-align: left;
    padding : 10px;
    table-layout: fixed;
    border-collapse: separate;
    text-indent: initial;
    border-spacing: 2px;
}
#receive-container .my-message{
    text-align: right;
    margin-left : auto;
}
#receive-container .user-profile{
    vertical-align: baseline;
}
#receive-container .user-profile .user-img{
    width: 40px;
    height: 40px;
    border-radius: 40px;
    vertical-align: middle;
    border: 1px solid var(--color-grey-2);
}
#receive-container .user-profile .user-name{
    font-size: var(--font-size-16);
    font-family: 'AppleSDGothicNeoSB';
    font-weight: var(--weight-light);
    margin-left : 5px;
}
#receive-container .message .user-message{
    width: fit-content;
    font-size: var(--font-size-14);
    font-family: 'AppleSDGothicNeoSB';
    font-weight: var(--weight-light);
    word-break: break-all;
    white-space: normal;
    max-width: 200px;
    text-align: left;
    display: inline-block;
}
#input-container{
    width : 100%;
    border-top: 1px solid var(--color-grey-6);
    flex-grow: 0.5;
    flex-basis: 0;
}
#input-form{
    margin : 10px;
    background-color : var(--color-white);
    border: 1px solid var(--color-mainBlue);
    border-radius: 20px;
    opacity: 1;
    padding: 5px;
    min-width: 250px;
}
#input-form input[type="text"]{
    display: inline-block;
    border: none;
    text-align: left;
    letter-spacing: 0px;
    color: var(--color-grey-2);
    font-size : var(--font-size-16);
    font-family: 'AppleSDGothicNeoSB';
    font-weight: var(--weight-regular);
    margin : 0px 5px 0px 0px;
    width: 80%;
}
#input-form input[type="text"]:focus{
    outline:none;
}
#input-form #btnSendMessage{
    display: inline-block;
    color : var(--color-mainBlue);
    opacity: 1;
    font-size: 15px;
}

#participant-container{
    width: 100%;
    min-width: 270px;
    text-align: left;
    overflow-y: auto;
    flex-grow: 9;
    flex-basis: 0;
}
.my-info{
    font-size : var(--font-size-20)!important;
    font-family: 'AppleSDGothicNeoB'!important;
}
.participant-info{
    font-size : var(--font-size-18);
    font-family: 'AppleSDGothicNeoSB';
    font-weight: var(--weight-regular);
    color : var(--color-white);
    margin : 5px;
    padding : 5px;
}
.participant-info .user-img{
    width: 30px;
    height: 30px;
    border-radius: 30px;
    vertical-align: middle;
    border: 1px solid var(--color-grey-2);
}
.inline-p{
    display: inline-block;
    margin : 0px 5px;
}
#bts-icon{
    height: 50px;
    width: 50px;
    border-radius: 20px;
}