.login {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: var(--color-mainBlue);
}

.content {
    font-family: system-ui, serif;
    padding: 3rem;
    border-radius: 20px;
    width: 60%;
    height: 400px;
    background: var(--color-white);
    box-shadow: 0px 3px 15px var(--color-shadow);
}