@import "style.css";

.mypage {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url("../../public/Image/mypage_bg.png");
  background-size: cover;
    
  }
  .container {
    width: 60%;
    height: 400px;
    font-size: 2rem;
    padding: 3rem;
    border-radius: 20px;
    background: #ffffff;
    box-shadow: 0px 3px 15px var(--color-shadow);
    font-family: 'AppleSDGothicNeoEB00';
  }

  .left_con h4{
      color: var(--color-mainBlue);
  }

  .left_con_p{
      padding-top: 5px;
      font-size: var(--font-size-16);
      color: var(--color-grey-3);
  }

  