/* Global */
:root {
  /* Color */
  --color-white: #ffffff;
  --color-black: #000000;
  --color-grey-1: #333333;
  --color-grey-2: #666666;
  --color-grey-3: #999999;
  --color-grey-4: #cccccc;
  --color-grey-5: #f8f8f8; /*검색바, 핸드폰입력창, 카메라 설정창 등 .. */
  --color-grey-6: #e1e1e1; /*선*/
  --color-grey-7: #f3f3f3;
  --color-grey-8: #b4b4b4;
  --color-grey-9: #f8f8f8;
  --color-shadow: #33333340; /*그림자*/
  --color-skyBlue: #c6d6f6;
  --color-midBlue: #7aa6ff;
  --color-mainBlue: #04338c; /* 메인블루 */
  --color-mainYellow: #f9e783; /* 메인노랑*/
  --color-red: #db0000;
  --color-pink: #f7a9a9;
  --color-green-live: #92db6f;
  --color-green: #66c835;
  --color-puple: #6d58c3;
  --color-award: #282d4e; /* 명예의전당 배경 */

  /* 플래너 작성 컬러 */
  --color-pink1: #f5bbbb;
  --color-yellow2: #f5edbb;
  --color-green3: #d8f5bb;
  --color-blue4: #bbedf5;
  --color-blue5: #bbdbf5;
  --color-puple6: #cebbf5;
  --color-grey7: #dbd9d9;

  /* 방명록 컬러 */
  --color-guestbook: #e1e9ff;

  /* font-size */
  --font-size-12: 12px;
  --font-size-14: 14px;
  --font-size-16: 16px;
  --font-size-18: 18px;
  --font-size-20: 20px;
  --font-size-22: 22px;
  --font-size-24: 24px;
  --font-size-26: 26px;
  --font-size-28: 28px;
  --font-size-30: 30px;
  --font-size-35: 35px;
  --font-size-40: 40px;
  --font-size-50: 50px;
  --font-size-60: 60px;
  --font-size-80: 80px;

  /* font-weight */
  --weight-light: 300;
  --weight-regular: 400;
  --weight-bold: 700;
  --weight-exbold: 800;
}
@font-face {
  font-family: 'AppleSDGothicNeoB';
  src: url('../assets/font/AppleSDGothicNeoB.ttf') format('truetype');
}
@font-face {
  font-family: 'AppleSDGothicNeoEB';
  src: url('../assets/font/AppleSDGothicNeoEB.ttf') format('truetype');
}
@font-face {
  font-family: 'AppleSDGothicNeoH';
  src: url('../assets/font/AppleSDGothicNeoH.ttf') format('truetype');
}
@font-face {
  font-family: 'AppleSDGothicNeoL';
  src: url('../assets/font/AppleSDGothicNeoL.ttf') format('truetype');
}
@font-face {
  font-family: 'AppleSDGothicNeoM';
  src: url('../assets/font/AppleSDGothicNeoM.ttf') format('truetype');
}
@font-face {
  font-family: 'AppleSDGothicNeoR';
  src: url('../assets/font/AppleSDGothicNeoR.ttf') format('truetype');
}
@font-face {
  font-family: 'AppleSDGothicNeoSB';
  src: url('../assets/font/AppleSDGothicNeoSB.ttf') format('truetype');
}
@font-face {
  font-family: 'AppleSDGothicNeoT';
  src: url('../assets/font/AppleSDGothicNeoT.ttf') format('truetype');
}
@font-face {
  font-family: 'AppleSDGothicNeoUL';
  src: url('../assets/font/AppleSDGothicNeoUL.ttf') format('truetype');
}

/* html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
} */
/* HTML5 display-role reset for older browsers */
/* article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a{
  text-decoration: none;
  color: var(--color-mainBlue);
} */
