#webcam{
    flex : 1;
}
#session{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    width : 80%;
    height : 100%;
    margin : 0 auto;
    text-align: center;
    flex : 1;
}