#webcam-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    height: 100%;
    border : 1px solid var(--color-grey-6);
    border-radius: 0px 20px 0px 0px;
    flex : 1;
}
#webcam-title{
    width: 100%;
    text-align: left;
}
#webcam-title #school-title{
    width: 90%;
    margin: 30px auto 0px;
}
#webcam-title #school-title p{
    display: block;
    margin : 0px 0px 0px 10px;
    font-size : var(--font-size-30);
    font-family: 'AppleSDGothicNeoEB';
    font-weight: var(--weight-regular);
    float: left;
}
#school-icon{
    display: block;
    height : 50px;
    width : 50px;
    float: left;
}
#webcam-main{
    height: 90%;
    width : 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: space-around;
    justify-content: space-around;
    align-items: center;
}
#webcam-main #share-container{
    border : 1px solid var(--color-grey-6);
    border-radius: 10px;
    padding : 10px;
}
#webcam-main #video-container {
    width : 100%;
    display: flex;
    flex-wrap: nowrap;
    align-content: space-around;
    justify-content: space-around;
    align-items: center;
}
.screen-share{
    width : 30%!important;
    height: 100%!important;
}
.screen-share #videos{
    flex : none!important;
}
.screen-share #prev{
    height: 10%!important;
    width : 100%!important;
}
.screen-share #next{
    height: 10%!important;
    width : 100%!important;
}
#webcam-main #video-container #prev{
    flex : 1 auto;
    width : 10%;
}
#webcam-main #video-container #next{
    flex : 1 auto;
    width : 10%;
}
.flex-column{
    flex-direction: column!important;
}
.page-button{
    margin : 0px;
    width : 80%;
}
#videos {
    flex : 1 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    width: 80%;
    margin: auto;
}
.video-user {
    width: 100%;
    height: auto;
    border-radius : 20px;
    vertical-align: middle;
}
.video-user-name {
    width: 30%;
    position: absolute;
    bottom: 0px;
}
.video-user-name p {
    display: inline-block;
    background: var(--color-grey-5);
    padding : 5px;
    color: var(--color-grey-2);
    font-size : var(--font-size-16);
    font-family: 'AppleSDGothicNeoSB';
    font-weight: var(--weight-regular);
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    width : 100%;
    margin : 0px!important;
}
.screen-video video{
    border-radius: 0px;
}
.screen-video .video-user-name{
    display: none;
}
.flex-item {
    flex: 1 auto;
    position:relative;
    margin : 5px;
}
.width-40{
    max-width: 40%;
}
.width-30{
    max-width : 30%;
}

#webcam-nav{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 100%;
    border-top: 1px solid var(--color-grey-6);
}
.webcam-button{
    margin: 15px 10px;
    background-color : var(--color-white) 0% 0% no-repeat padding-box;
    border: 1px solid var(--color-grey-2);
    border-radius : 20px;
    width: 100px;
    height: 45px;
}
#publish-screen{
    color : var(--color-mainBlue);
}
#publish-video{
    color : var(--color-grey-2);
}
#unpublish-video{
    color : var(--color-red);
}
#publish-audio{
    color : var(--color-grey-2);
}
#unpublish-audio{
    color : var(--color-red);
}
#btnLeaveSession{
    width: 45px;
    border-radius: 50px;
    border-color: var(--color-red);
    background-color: var( --color-red);
}
#leave-session{
    color : var(--color-white);
}