#nav{
    width: 100%;
    z-index:100;
    border-bottom: 1px solid var(--color-grey-6);
    background-color: transparent;
}
#nav > .nav-container{
    width : 80%;
    height: 100%;
    margin : auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#user-container{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    min-width: 250px;
}
#user-img{
    position : relative;
    display: inline-block;
}
#user-icon{
    height: 55px;
    width: 55px;
    border-radius: 50%;
}
#user-level{
    display: inline-block;
    position: absolute;
    top: -3px;
    right: -3px;
}
#level-icon{
    width: 25px;
}
#user-name{
    display: inline-block;
    min-width: 100px;
}
#user-name p{
    font-size : var(--font-size-20);
    font-family: 'AppleSDGothicNeoSB';
    font-weight: var(--weight-regular);
    color : var(--color-grey-2);
    margin : 0px 10px 0px 5px;
}
#menu-container{
    display: inline-block;
    position: relative;
    cursor: pointer;
}
#menus{
    background-color: var(--color-white);
    box-shadow: 0px 3px 6px #B3B3B329;
    border: 1px solid var(--color-grey-4);
    padding : 10px;
    position: absolute;
    width: max-content;
    right: 0px;
    transition : .3s ease-in-out;
    list-style: none;
}
.menu-inactive{
    visibility : hidden;
    transform : translateY(-20px);
    opacity: 0;
}
.menu-active{
    visibility : visible;
    transform : translateY(0);
    opacity: 1;
}
#menus li{
    margin : 5px 0px; 
    list-style:none;
    cursor: pointer;
}
#menus li button{
    font-size : var(--font-size-14);
    font-family: 'AppleSDGothicNeoSB';
    font-weight: var(--weight-regular);
    color : var(--color-grey-2);
    margin : 0px 10px 0px 0px;
    padding : 5px;
}
#menus li:hover{
    background-color: var(--color-grey-5);
}
.logo{
    min-height: 102px;
}