<configuration>
    <system.webServer>
        <staticContent>
        <remove fileExtension=".json" />
        <mime$$anonymous$$ap fileExtension=".json" mimeType="application/json; charset=UTF-8" />
        <remove fileExtension=".unityweb" />
        <mime$$anonymous$$ap fileExtension=".unityweb" mimeType="application/octet-stream" />
        </staticContent>
    </system.webServer> 
</configuration>